body{
    text-align: center;
    margin: 0;    /******* elimine les marges *******/
    min-height: 100vh;   /******* on specifie la hauteur minimale *******/
    background-image: url("fondbleu.jpg");
    background-position: center center;   /******** on centre l'image dans la page *************/
    background-size: cover; /*********  on l'adapte à l'espace disponible ****************/
/********  animation arrière plan  *********/
    animation-name: back;
    animation-duration: 20s;
    animation-iteration-count: infinite;  /******* nombre de fois où l'animation se répete  **********/
    animation-timing-function: ease-in-out;    /******* cadence via l'acceleration  **********/
/**********  il faut @keyframes back ************/
}

@keyframes back {
    0%{
        background-size: 100% auto;
    }
    50%{
        background-size: 120% auto;
    }
    100%{
        background-size: 100% auto;
    }
}
h1{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    color: #EA2;
    background-color: rgba(0,0,0,0.2);
}

#grille{
    margin-top: 50px;

}
#grille input{
    width: 60px;
    height: 40px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: 1px solid #AAA;
    color: #FFF;
    /************
    par défaut les     input sont inline block
    display-inline-block, permet d'appliquer les marges superieur et inferieur
     */
    display: inline-block;
    margin: 4px 2px;
    transition: all 0.3s ease;
}
#grille input:hover{
    transform: scale(1.2);
    color: #000;
    background-color: #AAA;
    transition: all 0.3s ease;

}
input [type="submit"] {
    width: 100px;
    height: 40px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    background-color: #EEAA22;
    border: 1px solid #EEAA22;
    color: #000;
    display: inline-block;
    margin: 4px 2px;
}
input [type="submit"] :hover {
box-shadow: 0 0 10px rgba(255,255,255,0.4);
    color: #FFFFFF;
}
#selection{
    width: 100px;
    height: 40px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #EEAA22;
    color: #EEAA22;
    display: inline-block;
    margin: 4px 2px;
}
h2{
    margin-top: 60px;
    color:#EEAA22;
}
.numeros{
    display: inline-block;
    border: 1px solid #EEAA22;
    box-sizing: border-box;
    width: 100px;
    padding: 20px;
    font-size: 24pt;
    color: #EEAA22;
    margin: 6px;
}
#resultat{
    font-size: 24pt;
    background-color: rgba(0,0,0,0.2);
    width: 800px;
    margin: 60px auto;
    padding: 20px;
    visibility: hidden;
}
#resultat span {
color: #EEAA22;
}
